Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [ ]:
a = "Pratik"

In [2]:
type(a)

str

In [3]:
b = 10

In [4]:
type(b)

int

In [5]:
l = [ 2 , 3 , 4 , "Pratik" , 40.45 ]

In [6]:
type(l)

list

In [3]:
T = (4,)

In [4]:
type(T)

tuple

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

(i) var1: String
(ii) var2: String
(iii) var3: List of strings
(iv) var4: Float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [1]:
# Use to divide numbers
a = 10 
b = 5
print(a/b)

2.0

In [2]:
# Use to find the reminder after division 
c = 10
d = 3
print(c%d)

1

In [3]:
# Use to find the integer 
c = 10
d = 3
print(c//d)

3

In [4]:
# Use to find squre , cube & exponetioal fuctions 
2**3

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [6]:
l = [20 , "Pratik" , True , 19 , 45.48 , 12 , "pwskills" , 43 , False , 134 ]

In [8]:
for i in l :
    print(type(i))
    print(i)

<class 'int'>
20
<class 'str'>
Pratik
<class 'bool'>
True
<class 'int'>
19
<class 'float'>
45.48
<class 'int'>
12
<class 'str'>
pwskills
<class 'int'>
43
<class 'bool'>
False
<class 'int'>
134

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [11]:
A = 12
B = 6

count = 0

while A % B == 0:
    A = A / B
    count += 1

print(f"Number A can be divided by number B {count} times.")

Number A can be divided by number B 1 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [12]:
l = [1 , 2 , 3 , 4 , 5 , 6 , 7 , 8 , 12 , 19 , 82 , 33 , 48 , 15 , 65 , 79 , 98 , 12]

In [18]:
for i in l :
    if i%3 == 0:
        print("The numbers which are divisible by 3--->",i)

The numbers which are divisible by 3---> 3
The numbers which are divisible by 3---> 6
The numbers which are divisible by 3---> 12
The numbers which are divisible by 3---> 33
The numbers which are divisible by 3---> 48
The numbers which are divisible by 3---> 15
The numbers which are divisible by 3---> 12

In [19]:
for i in l :
    if i%3 != 0:
        print("The nubers is not divisble by 3-->",i)

The nubers is not divisble by 3--> 1
The nubers is not divisble by 3--> 2
The nubers is not divisble by 3--> 4
The nubers is not divisble by 3--> 5
The nubers is not divisble by 3--> 7
The nubers is not divisble by 3--> 8
The nubers is not divisble by 3--> 19
The nubers is not divisble by 3--> 82
The nubers is not divisble by 3--> 65
The nubers is not divisble by 3--> 79
The nubers is not divisble by 3--> 98

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [20]:
# Mutable data is we can change the number or text in given list 
l = [20 , "Pratik" , True , 19 , 45.48 , 12 , "pwskills" , 43 , False , 134 ]

In [22]:
print(l)

[20, 'Pratik', True, 19, 45.48, 12, 'pwskills', 43, False, 134]

In [23]:
l[0] = 10

In [24]:
print(l)

[10, 'Pratik', True, 19, 45.48, 12, 'pwskills', 43, False, 134]

In [30]:
# Immutable data we cant change after creating data 
l = "Pratik"

In [31]:
print(l)

Pratik

In [34]:
l [0] = 10

TypeError: 'str' object does not support item assignment